/******************  ALL PAGES  *******************/

/******* BODY *******/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: rgb(223, 205, 147);
    padding: 0px;
    margin: 0px;
}

/**** HEADER ****/
header {
    padding-bottom: 30px;
}

/* nav */
nav {
    background-color: #222;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #222;
}
nav a {
    margin: 25px;
    color: rgb(253, 245, 230);
    text-decoration: none;
}
nav a:hover {
    text-decoration:underline;
    color: rgb(56, 95, 252);  
}

/* pageTitle */
.pageTitle {
    text-align: center;
    margin-top: 8px;
    background-color: rgb(223, 205, 147);
    padding: 30px;
}
.pageTitle h1 {
    text-align: center;
    font-size: 45px;
    color: #222;
}
.pageTitle a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(1, 101, 215);
}
.pageTitle a:hover {
    color:  #222;
    text-decoration: underline;
}

.pageTitle img {
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 2px 20px #222;
    border: 10px solid #222;
}

/**** MAIN ****/
main {
    display: flex;
    background: rgb(95, 87, 63);
    flex: 1 1 0;
    flex-direction: column;
}

main > img {
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px;
}

main > section {
    margin: 20px;
    background-color: rgb(223, 205, 147);
    border-radius: 10px;
    box-shadow: 0 2px 10px;
    padding: 13px 20px;
}

main > ol > section {
    margin: 20px;
    background-color: rgb(223, 205, 147);
    border-radius: 10px;
    box-shadow: 0 2px 10px;
    padding: 13px 20px;
}

main > p {
    background-color: rgb(223, 205, 147);
    border-radius: 10px;
    box-shadow: 0 2px 10px;
    padding: 13px 20px;
    margin: 10px 3px;
}

/**** FOOTER ****/
footer form {
    margin: 12px;
}



/******************  Individual Pages  *******************/
/*******  INDEX  *******/

/*******  GALLERY  *******/
/**** Gallery Body Section ****/
#galleryBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width:1200px;
    background-color: rgb(95, 87, 63);
    padding: 20px;
    margin: 0px;

}

/** Figure **/
#galleryBody {
    border-radius: 0;
}

#galleryBody figure {
    width: 100%;
    background-color: rgb(140, 129, 93);
    margin: 0;
    border-radius: 10px;
    box-shadow: 0 2px 10px;
    padding: 12px;
}

/* Caption */ 
#galleryBody figcaption {
    text-align: center;
    background-color: rgb(223, 205, 147);
    margin-bottom: 0px;
    color: #222;
    border-radius: 10px;
}
#galleryBody h2 {
    padding-top: 7px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#galleryBody p {
    margin-bottom: 0px;
    padding-bottom: 7px;
    padding-top: 0px;
    margin-top: 0px;
}

/* Image */
#galleryBody img { 
    width: 100%;
    display: block;
    border-radius: 8px;
}


/*******    *******/